@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100vw;
  font-family: Roboto, sans-serif;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;
}

.swiper .swiper-button-prev {
  background-image: url("/images/icons/prev.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0.1;
}

.swiper .swiper-button-next {
  background-image: url("/images/icons/next.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
}
